# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/BlogApp/v17
/BlogApp/.vs/BlogApp
/BlogApp/BlogApp/obj
/BlogApp/.vs/ProjectEvaluation
/BlogApp/BlogApp/bin/Debug/net8.0
/BlogApp/BlogApp.Data/obj
/.vs
/BlogApp/BlogApp.API/obj/Debug/net8.0/staticwebassets
/BlogApp/BlogApp.API/obj/Debug/net8.0/scopedcss/bundle
/BlogApp/BlogApp.API/obj/Debug/net8.0
/BlogApp/BlogApp.API/obj
/BlogApp/BlogApp/logs/errors
/BlogApp/BlogApp/logs/main
