<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="C:\Users\MSI\BlogApp\BlogApp\BlogApp\logs\logs.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="main" fileName="C:\Users\MSI\BlogApp\BlogApp\BlogApp\logs\main\${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
		<target xsi:type="File" name="error" fileName="C:\Users\MSI\BlogApp\BlogApp\BlogApp\logs\errors\${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
	</targets>
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" maxlevel="warn" writeTo="main" />
		<logger name="*" minlevel="warn" writeTo="error" />
	</rules>
</nlog>

<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
	  internalLogFile="${basedir}/logs/logs.txt">
	<targets>
		<target xsi:type="File" name="main" fileName="${basedir}/logs/main/${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
		<target xsi:type="File" name="error" fileName="${basedir}/logs/errors/${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
	</targets>
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" levels="Debug,Info" writeTo="main" />
		<logger name="*" minlevel="warn" writeTo="error" />
	</rules>
</nlog>-->