@using BlogApp.ViewModels.Tags
@{
	ViewData["Title"] = "EditTag";
}
@model EditTagViewModel

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">

<label class="fs-5">Редактирование тега</label>
<form class="frm" method="post" asp-controller="Tag" asp-route-id="@Model.Id" asp-action="UpdateTag">
	<div asp-validation-summary="ModelOnly"></div>
	<div>
		<div class="mb-3">
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
	</div>
	<div>
		<input class="btn btn-primary" type="submit" value="Сохранить" />
	</div>
</form>
<div>
	<label class="form-label">
		<a class="" asp-area="" asp-controller="Tag" asp-action="GetTags">Перейти к списку всех тегов</a>
	</label>
</div>
@section scripts {

	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}