@using BlogApp.Data.Models
@using BlogApp.ViewModels.Articles
@{
	ViewData["Title"] = "Chat";
}
@* @model ChatViewModel *@

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">

<label class="fs-5">Чат</label>


@section scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
