﻿﻿@{
    ViewBag.Title = "Page Not Found";
}
<h1>(404) Страница не найдена.</h1>
<p>Данной страницы не существует.</p>
<p>Пожалуйста, свяжитесь со службой поддержки, отправив им по электронной почте сообщение об ошибке на странице.</p>
