﻿﻿@{
    ViewBag.Title = "(500) An Error Occurred";
}
<h1>(500) Произошла ошибка.</h1>
<p>Что-то пошло не так.</p>
<p>Пожалуйста, свяжитесь со службой поддержки, отправив им по электронной почте сообщение об ошибке на странице.</p>