@using BlogApp.Data.Models
@using Microsoft.AspNetCore.Identity;
@using BlogApp.ViewModels.UsersRoles.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

@model LoginViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{

}
else
{
    <div class="main">
        <partial name="Login" model="Model" />
@*         <partial name="Register" model="Model.Register" /> *@
    </div>
}